streamlit==1.22.0
google-ai-generativelanguage==0.4.0
google-generativeai==0.4.0
python-dotenv==1.0.0
langchain==0.0.284
faiss-cpu==1.7.4
InstructorEmbedding==1.0.1
transformers==4.25.1
pandas==1.5.3
